<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Avansom</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1 class="display-4">Avansom</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit vel, perspiciatis, aliquam recusandae eius quia accusamus temporibus sapiente non tempora ipsum! Consectetur totam eius accusantium tempora placeat tenetur, officiis vel repellendus rerum! Odio consectetur optio ullam cum! Illo autem est explicabo repellat veniam modi delectus vel eligendi doloremque nobis at dolorum sapiente sint assumenda fugit nulla commodi, ipsum distinctio obcaecati corporis ea aspernatur, cupiditate suscipit minus. Quo magni necessitatibus ad impedit voluptatibus minus veritatis eum provident ut ipsam at maxime earum ipsum asperiores dolorem illum recusandae repellat, explicabo doloribus maiores deserunt? Libero maiores voluptas odit sit? Quis dolorum pariatur est?
      </p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/shop" role="button">Go To Shop</a>
        <a class="btn btn-primary btn-lg" href="/blog" role="button">Go To Blog</a>
      </p>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!--Option 2: Separate Popper and Bootstrap JS -->
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
   
  </body>
</html>